<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <title>An error has occured, which isn't great.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="description" content="Movie night is a fun movie trivia game">
    <meta name="keywords" content="Movie Trivia">
    <meta name="author" content="GianPiero Bresolin">
    <style type="text/css">
        body {
            margin-top: 40px;
        }
    </style>
</head>
<body id="page-top">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-film"></span> Movie Night</a>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron" id="Player">
            <h1>Have you tried turning it off and on again</h1>

            <div class="row">
                <p>
                    Please try going back to the <a href="/">home page</a>.
                </p>
            </div>
        </div>
    </div>
</body>
</html>